<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>noteadd</title>
    <!--csrf token-->
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" href="../static/css/main/layui.css" th:href="@{/webjars/layui/2.5.5/css/layui.css}">
    <link rel="stylesheet" href="../static/css/main/xadmin.css" th:href="@{/static/css/main/xadmin.css}">
    <link rel="stylesheet" href="../static/css/main/xadmin.css" th:href="@{/static/plugin/vueSkin/vue.css}">
    <link rel="stylesheet" href="../static/css/main/xadmin.css" th:href="@{/static/css/moudles/note/note.css}">
</head>
<body>
    <div class="x-nav">
            <span class="layui-breadcrumb">
                <a href="">笔记管理</a>
                <a>
                    <cite>笔记添加</cite>
                </a>
            </span>
        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
            <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
        </a>
    </div>

    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">
                        <span>编辑界面</span>
                    </div>
                    <div class="layui-card-body">
                        <form class="layui-form">
                            <div class="layui-form-item">
                                <label class="layui-form-label">
                                    <i class="layui-badge-dot layui-bg-orange"></i>笔记标题
                                </label>
                                <div class="layui-col-xs11">
                                    <input type="text" name="noteTitle" class="layui-input" placeholder="请输入标题">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">笔记分类</label>
                                <div id="noteCate" class="layui-col-xs11"></div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-col-xs12">
                                    <label class="noteTextlabel">
                                        <i class="layui-icon">&#xe63c;</i>笔记内容
                                        <span class="noteTextlabel-span">
                                            ( 左侧按照 markdown 语法格式编写，右侧会同步显示 markdown 文档 )
                                        </span>
                                    </label>
                                </div>
                                <div class="layui-col-xs6">
                                    <textarea id="noteText" name="content" class="layui-textarea md-textarea"></textarea>
                                </div>
                                <div class="layui-col-xs6">
                                    <div id="mdText" class="layui-textarea md-div"></div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-inline layui-col-xs-offset11">
                                    <button class="layui-btn layui-btn-normal" lay-submit  lay-filter="addNote">添加笔记</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="layui-card-body" style="text-align: center; height: 30px; width: 100%;">
                        <span th:text="${session.sysConfig.get('manageCopyright').getConfigValue()}">ssss</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
<script type="text/javascript" src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
<script type="text/javascript" src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>

<script src="./lib/layui/layui.js" type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
<script src="./lib/layui/layui.js" type="text/javascript" th:src="@{/webjars/layui/2.5.5/layui.js}"></script>
<script src="./lib/layui/layui.js" type="text/javascript" th:src="@{/static/plugin/xmSelect/xm-select.js}"></script>
<script type="text/javascript" src="../static/js/main/xadmin.js" th:src="@{/static/js/main/xadmin.js}"></script>
<script type="text/javascript" src="../static/js/main/xadmin.js" th:src="@{/static/plugin/showdown/showdown.min.js}"></script>
<script type="text/javascript" src="../static/js/main/xadmin.js" th:src="@{/static/js/modules/note/note.js}"></script>
<script>
    var PATH = '[[@{/}]]',PID = '';

    $(function(){
        xmSelectRun();
    });

</script>
</html>