<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>切换管理员</title>
    <!--csrf token-->
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="shortcut icon" href="favicon.ico" th:href="@{/static/favicon.ico}">
    <!--    <link rel="stylesheet" href="../static/css/font/font.css" th:href="@{/css/font/font.css}">-->
    <link rel="stylesheet" href="../static/css/main/layui.css" th:href="@{/webjars/layui/2.5.5/css/layui.css}">
    <link rel="stylesheet" href="../../../static/css/moudles/login/login.css" th:href="@{/static/css/moudles/login/relogin.css}">
</head>
<body>
<div class="layui-container">
    <form class="layui-form layui-form-pane">
        <div class="layui-form-item">
            <label class="layui-form-label">管理员账号</label>
            <div class="layui-input-block">
                <input class="layui-input" type="text" id="loginName" name="loginName" required
                       lay-verify="verifyCode" placeholder="请输入验证码" autocomplete="off">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">管理员密码</label>
            <div class="layui-input-block">
                <input class="layui-input" type="password" id="password" name="password" required
                       lay-verify="verifyCode" placeholder="请输入验证码" autocomplete="off">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">验证码</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" id="verifyCode" name="verifyCode" required
                       lay-verify="verifyCode" placeholder="请输入验证码" autocomplete="off">
            </div>
            <div class="layui-col-xs3">
                <img class="verifyCode" th:src="@{/verifyCode}" onclick="refrashVCode();">
            </div>
            <div class="layui-col-xs1">
                <a class="refrash" href="javascript:;" onclick="refrashVCode();">
                    <i class="layui-icon" style="font-weight: bolder; font-size: 20px;">&#xe669;</i>
                </a>
            </div>
        </div>
        <div class="layui-form-item">
            <div>
                <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="relogin">确认切换</button>
            </div>
        </div>
    </form>
</div>
</body>
<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
<script type="text/javascript" src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
<script type="text/javascript" src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>

<script src="./lib/layui/layui.js" type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
<script src="./lib/layui/layui.js" type="text/javascript" th:src="@{/webjars/layui/2.5.5/layui.js}"></script>

<script>
    $(function() {
        layui.use('form', function(){
            var form = layui.form;

            // 表单验证
            form.verify({
                loginName: function(value, item){
                    if(!/\S/.test(value))
                    {
                        return '用户名不能为空';
                    }
                    if(!/^\w{4,20}$/.test(value))
                    {
                        return '登录名为4-20个字符';
                    }
                    if(!new RegExp("^[a-zA-Z0-9_\u4e00-\u9fa5\\s·]+$").test(value))
                    {
                        return '用户名不能有特殊字符';
                    }
                    if(/(^\_)|(\__)|(\_+$)/.test(value))
                    {
                        return '用户名首尾不能出现下划线\'_\'';
                    }
                    if(/^\d+\d+\d$/.test(value))
                    {
                        return '用户名不能全为数字';
                    }
                },
                password: function(value, item){
                    if(!/\S/.test(value))
                    {
                        return '密码不能为空';
                    }
                    if(!/^\w{4,20}$/.test(value))
                    {
                        return '密码为6-20个字符';
                    }
                    /*if(/^\d+\d+\d$/.test(value))
                    {
                        return '密码不能全为数字';
                    }*/
                },
                verifyCode: function(value, item){
                    if(!/\S/.test(value))
                    {
                        return '验证码不能为空';
                    }
                }
            });

            // 表单提交
            form.on('submit(relogin)', function(data){
                $.ajax({
                    url: '[[@{/login/signin}]]',
                    type: 'post',
                    dataType: 'json',
                    data: {
                        'loginName': $("#loginName").val(),
                        'password': $("#password").val(),
                        'verifyCode': $("#verifyCode").val(),
                        '_csrf': $("meta[name = '_csrf']").attr("content"),
                        '_csrf_header': $("meta[name = '_csrf_header']").attr("content"),
                        '_': new Date().getTime()
                    },
                    success: function(res) {
                        if(res.code == 0)
                        {
                            layer.msg(res.message);
                            parent.window.location.replace('[[@{/}]]'+ res.data.url);
                        }else{
                            layer.msg(res.message);
                            refrashVCode();
                        }
                        return false;
                    },
                    error: function(res) {

                        layer.msg("系统出错");
                        return false;
                    }
                })
                return false;
            });
        });
    })

    function refrashVCode() {
        $(".verifyCode").attr("src","[[@{/verifyCode}]]?time="+new Date().getTime());
    };
</script>
</html>