<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>资源管理</title>
    <!--csrf token-->
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" href="../static/css/main/layui.css" th:href="@{/webjars/layui/2.5.5/css/layui.css}">
    <link rel="stylesheet" href="../static/css/main/xadmin.css" th:href="@{/static/css/main/xadmin.css}">
    <link rel="stylesheet" href="../static/css/main/xadmin.css" th:href="@{/static/css/moudles/res/res.css}">
    <script src="./lib/layui/layui.js" type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
</head>
<body>
    <div class="x-nav">
        <span class="layui-breadcrumb">
        <a href="">资源下载管理</a>
        <a><cite>资源管理</cite></a>
        </span>
        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
            <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
        </a>
    </div>

    <div id="s" class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <!--
                        <form class="layui-form">
                            <div class="layui-inline layui-show-xs-block">
                                <input type="text" id="loginName" name="loginName" lay-verify="" placeholder="请输入用户名"
                                       autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <input type="text" id="adminName" name="adminName" lay-verify="" placeholder="请输入管理员名称"
                                       autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <input type="text" id="creator" name="creator" lay-verify="" placeholder="请输入创建者名称"
                                       autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <input type="text" id="createDateRange" name="createDateRange" lay-verify="" placeholder="创建日期范围"
                                       autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <select id="role" name="role" layui-filter="roleSelect" lay-verify="" lay-search></select>
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <select is="status" name="status" lay-verify="" lay-search>
                                    <option>全部管理员状态</option>
                                    <option value="0">启用</option>
                                    <option value="1">禁用</option>
                                    <option value="-1">冻结</option>
                                    <option value="-2">锁定</option>
                                    <option value="-3">作废</option>
                                </select>
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <button type="button" class="layui-btn"  lay-submit="" lay-filter="search">
                                    <i class="layui-icon">&#xe615;</i>
                                </button>
                            </div>
                        </form>
                        -->
                    </div>
                    <div class="layui-card-body">
                        <table id="res_list_table" lay-filter="res_list_table" class="layui-table"></table>
                    </div>
                    <div class="" style="text-align: center; height: 30px; width: 100%;">
                        <span th:text="${session.sysConfig.get('manageCopyright').getConfigValue()}">ssss</span>
                    </div>
                    <script type="text/html" id="top-bar">
                        <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="batchDel">
                            <i class="layui-icon">&#xe640;</i>批量删除
                        </button>
                        <button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="add">
                            <i class="layui-icon">&#xe624;</i>添加资源
                        </button>
                    </script>
                    <script type="text/html" id="oper-bar">
                        <div class="layui-btn-group">
                            <button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="edit"><i class="layui-icon">&#xe642;</i></button>
                            <button class="layui-btn layui-btn-sm" lay-event="upIcon"><i class="layui-icon">&#xe60d;</i></button>
                            <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="del"><i class="layui-icon">&#xe640;</i></button>
                        </div>
                    </script>
                </div>
            </div>
        </div>
    </div>

</body>
<script type="text/javascript" src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
<script type="text/javascript" src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>

<script src="./lib/layui/layui.js" type="text/javascript" th:src="@{/webjars/layui/2.5.5/layui.js}"></script>
<script type="text/javascript" src="../static/js/main/xadmin.js" th:src="@{/static/js/main/xadmin.js}"></script>
<script type="text/javascript" src="/" th:src="@{/static/js/modules/resource/res.js}"></script>
<script>
    var PATH = '[[@{/}]]';
</script>
</html>