<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xnote.manage.modules.note.mapper.NoteMapper">
  <resultMap id="BaseResultMap" type="com.xnote.manage.modules.note.bean.Note">
    <id column="note_id" jdbcType="VARCHAR" property="noteId" />
    <result column="note_title" jdbcType="VARCHAR" property="noteTitle" />
    <result column="note_cont" jdbcType="VARCHAR" property="noteCont" />
    <result column="note_cate" jdbcType="VARCHAR" property="noteCate" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
    <result column="update_time" jdbcType="DATE" property="updateTime" />
    <result column="timestamp" jdbcType="BIGINT" property="timestamp" />
  </resultMap>
  <sql id="Base_Column_List">
    NOTE_ID, NOTE_TITLE, NOTE_CONT, NOTE_CATE, CREATE_TIME, UPDATE_TIME, TIMESTAMP
  </sql>

  <insert id="addNote">
    INSERT INTO XNOTE_NOTE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="noteId != null">
        note_id,
      </if>
      <if test="noteTitle != null">
        note_title,
      </if>
      <if test="noteCont != null">
        note_cont,
      </if>
      <if test="noteCate != null">
        note_cate,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="timestamp != null">
        timestamp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="noteId != null">
        #{noteId,jdbcType=VARCHAR},
      </if>
      <if test="noteTitle != null">
        #{noteTitle,jdbcType=VARCHAR},
      </if>
      <if test="noteCont != null">
        #{noteCont,jdbcType=VARCHAR},
      </if>
      <if test="noteCate != null">
        #{noteCate,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=DATE},
      </if>
      <if test="timestamp != null">
        #{timestamp,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>






















  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from xnote_note
    where note_id = #{noteId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from xnote_note
    where note_id = #{noteId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xnote.manage.modules.note.bean.Note">
    insert into xnote_note (note_id, note_title, note_cont, 
      note_cate, create_time, update_time, 
      timestamp)
    values (#{noteId,jdbcType=VARCHAR}, #{noteTitle,jdbcType=VARCHAR}, #{noteCont,jdbcType=VARCHAR}, 
      #{noteCate,jdbcType=VARCHAR}, #{createTime,jdbcType=DATE}, #{updateTime,jdbcType=DATE}, 
      #{timestamp,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.xnote.manage.modules.note.bean.Note">
    insert into xnote_note
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="noteId != null">
        note_id,
      </if>
      <if test="noteTitle != null">
        note_title,
      </if>
      <if test="noteCont != null">
        note_cont,
      </if>
      <if test="noteCate != null">
        note_cate,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="timestamp != null">
        timestamp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="noteId != null">
        #{noteId,jdbcType=VARCHAR},
      </if>
      <if test="noteTitle != null">
        #{noteTitle,jdbcType=VARCHAR},
      </if>
      <if test="noteCont != null">
        #{noteCont,jdbcType=VARCHAR},
      </if>
      <if test="noteCate != null">
        #{noteCate,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=DATE},
      </if>
      <if test="timestamp != null">
        #{timestamp,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.xnote.manage.modules.note.bean.Note">
    update xnote_note
    <set>
      <if test="noteTitle != null">
        note_title = #{noteTitle,jdbcType=VARCHAR},
      </if>
      <if test="noteCont != null">
        note_cont = #{noteCont,jdbcType=VARCHAR},
      </if>
      <if test="noteCate != null">
        note_cate = #{noteCate,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=DATE},
      </if>
      <if test="timestamp != null">
        timestamp = #{timestamp,jdbcType=BIGINT},
      </if>
    </set>
    where note_id = #{noteId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xnote.manage.modules.note.bean.Note">
    update xnote_note
    set note_title = #{noteTitle,jdbcType=VARCHAR},
      note_cont = #{noteCont,jdbcType=VARCHAR},
      note_cate = #{noteCate,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=DATE},
      update_time = #{updateTime,jdbcType=DATE},
      timestamp = #{timestamp,jdbcType=BIGINT}
    where note_id = #{noteId,jdbcType=VARCHAR}
  </update>
</mapper>