<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xnote.manage.modules.note.mapper.NoteCategoryMapper">
  <resultMap id="BaseResultMap" type="com.xnote.manage.modules.note.bean.NoteCategory">
    <result column="cate_id" jdbcType="VARCHAR" property="cateId" />
    <result column="cate_code" jdbcType="VARCHAR" property="cateCode" />
    <result column="cate_name" jdbcType="VARCHAR" property="cateName" />
    <result column="cate_parent_id" jdbcType="VARCHAR" property="cateParentId" />
    <result column="cate_sort" jdbcType="INTEGER" property="cateSort" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="timestamp" jdbcType="BIGINT" property="timestamp" />
  </resultMap>

  <sql id="BaseColumn">
    CATE_ID, CATE_CODE, CATE_NAME, CATE_PARENT_ID, CATE_SORT, CREATE_TIME, UPDATE_TIME, TIMESTAMP
  </sql>

  <select id="getNoteCategory" resultType="com.xnote.manage.modules.note.bean.NoteCategory">
    SELECT
    <include refid="BaseColumn"/>
    FROM XNOTE_NOTE_CATEGORY
    ORDER BY CATE_SORT ASC
  </select>

  <select id="getCategoryById" resultType="com.xnote.manage.modules.note.bean.NoteCategory">
    SELECT
    <include refid="BaseColumn"/>
    FROM XNOTE_NOTE_CATEGORY
    <where>
      CATE_ID = #{cateId,jdbcType=VARCHAR}
    </where>
  </select>

  <select id="getCategoryByCode" resultType="com.xnote.manage.modules.note.bean.NoteCategory">
    SELECT
    <include refid="BaseColumn"/>
    FROM XNOTE_NOTE_CATEGORY
    <where>
      CATE_CODE = #{cateCode,jdbcType=VARCHAR}
    </where>
  </select>

  <select id="searchCate" resultType="com.xnote.manage.modules.note.bean.NoteCategory">
    SELECT
    <include refid="BaseColumn"/>
    FROM XNOTE_NOTE_CATEGORY
    <if test="cateCode != null">
      <where>
        CATE_CODE LIKE concat('%',#{cateCode, jdbcType=VARCHAR},'%')
      </where>
    </if>
    ORDER BY CATE_SORT ASC
  </select>

  <insert id="addCate" parameterType="com.xnote.manage.modules.note.bean.NoteCategory">
    INSERT INTO XNOTE_NOTE_CATEGORY
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cateId != null">
        CATE_ID,
      </if>
      <if test="cateCode != null">
        CATE_CODE,
      </if>
      <if test="cateName != null">
        CATE_NAME,
      </if>
      <if test="cateParentId != null">
        CATE_PARENT_ID,
      </if>
      <if test="cateSort != null">
        CATE_SORT,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="timestamp != null">
        TIMESTAMP,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cateId != null">
        #{cateId,jdbcType=VARCHAR},
      </if>
      <if test="cateCode != null">
        #{cateCode,jdbcType=VARCHAR},
      </if>
      <if test="cateName != null">
        #{cateName,jdbcType=VARCHAR},
      </if>
      <if test="cateParentId != null">
        #{cateParentId,jdbcType=VARCHAR},
      </if>
      <if test="cateSort != null">
        #{cateSort,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=DATE},
      </if>
      <if test="timestamp != null">
        #{timestamp,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>

  <update id="updateCate" parameterType="com.xnote.manage.modules.note.bean.NoteCategory">
    UPDATE XNOTE_NOTE_CATEGORY SET
    <trim suffixOverrides=",">
      <if test="cateCode != null">
        CATE_CODE = #{cateCode,jdbcType=VARCHAR},
      </if>
      <if test="cateName != null">
        CATE_NAME = #{cateName,jdbcType=VARCHAR},
      </if>
      <if test="cateParentId != null">
        CATE_PARENT_ID = #{cateParentId,jdbcType=VARCHAR},
      </if>
      <if test="cateSort != null">
        CATE_SORT = #{cateSort,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=DATE},
      </if>
      <if test="timestamp != null">
        TIMESTAMP = #{timestamp,jdbcType=BIGINT},
      </if>
    </trim>
    <where>
      CATE_ID = #{cateId,jdbcType=VARCHAR}
    </where>
  </update>

  <delete id="delCateById">
    DELETE FROM XNOTE_NOTE_CATEGORY
    <where>
      CATE_ID = #{cateId,jdbcType=VARCHAR}
    </where>
  </delete>

  <delete id="batchesDelCate">
    DELETE FROM XNOTE_NOTE_CATEGORY
    <where>
      CATE_ID IN
      <foreach item="id" collection="list" open="(" close=")" separator=",">
        #{id,jdbcType=VARCHAR}
      </foreach>
    </where>
  </delete>
</mapper>