<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xnote.manage.modules.note.mapper.NoteContentMapper">
  <resultMap id="BaseResultMap" type="com.xnote.manage.modules.note.bean.NoteContent">
    <id column="cont_id" jdbcType="VARCHAR" property="contId" />
    <result column="note_id" jdbcType="VARCHAR" property="noteId" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.xnote.manage.modules.note.bean.NoteContent">
    <result column="note_context" jdbcType="LONGVARCHAR" property="noteContext" />
  </resultMap>
  <sql id="Base_Column_List">
    CONT_ID, NOTE_ID
  </sql>
  <sql id="Blob_Column_List">
    NOTE_CONTEXT
  </sql>


  <insert id="addNoteContent">
    INSERT INTO XNOTE_NOTE_CONTENT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="contId != null">
        CONT_ID,
      </if>
      <if test="noteId != null">
        NOTE_ID,
      </if>
      <if test="noteContext != null">
        NOTE_CONTEXT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="contId != null">
        #{contId,jdbcType=VARCHAR},
      </if>
      <if test="noteId != null">
        #{noteId,jdbcType=VARCHAR},
      </if>
      <if test="noteContext != null">
        #{noteContext,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
























  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from xnote_note_content
    where cont_id = #{contId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from xnote_note_content
    where cont_id = #{contId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xnote.manage.modules.note.bean.NoteContent">
    insert into xnote_note_content (cont_id, note_id, note_context
      )
    values (#{contId,jdbcType=VARCHAR}, #{noteId,jdbcType=VARCHAR}, #{noteContext,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xnote.manage.modules.note.bean.NoteContent">
    insert into xnote_note_content
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="contId != null">
        cont_id,
      </if>
      <if test="noteId != null">
        note_id,
      </if>
      <if test="noteContext != null">
        note_context,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="contId != null">
        #{contId,jdbcType=VARCHAR},
      </if>
      <if test="noteId != null">
        #{noteId,jdbcType=VARCHAR},
      </if>
      <if test="noteContext != null">
        #{noteContext,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.xnote.manage.modules.note.bean.NoteContent">
    update xnote_note_content
    <set>
      <if test="noteId != null">
        note_id = #{noteId,jdbcType=VARCHAR},
      </if>
      <if test="noteContext != null">
        note_context = #{noteContext,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where cont_id = #{contId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.xnote.manage.modules.note.bean.NoteContent">
    update xnote_note_content
    set note_id = #{noteId,jdbcType=VARCHAR},
      note_context = #{noteContext,jdbcType=LONGVARCHAR}
    where cont_id = #{contId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xnote.manage.modules.note.bean.NoteContent">
    update xnote_note_content
    set note_id = #{noteId,jdbcType=VARCHAR}
    where cont_id = #{contId,jdbcType=VARCHAR}
  </update>
</mapper>