<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xnote.manage.modules.resource.mapper.XResourceMapper">
  <resultMap id="BaseResultMap" type="com.xnote.manage.modules.resource.bean.XResource">
    <id column="res_id" jdbcType="VARCHAR" property="resId" />
    <result column="res_title" jdbcType="VARCHAR" property="resTitle" />
    <result column="res_icon" jdbcType="VARCHAR" property="resIcon" />
    <result column="res_desc" jdbcType="VARCHAR" property="resDesc" />
    <result column="res_url" jdbcType="VARCHAR" property="resUrl" />
    <result column="down_nub" jdbcType="INTEGER" property="downNub" />
    <result column="upload_time" jdbcType="TIMESTAMP" property="uploadTime" />
    <result column="timestamp" jdbcType="BIGINT" property="timestamp" />
  </resultMap>
  <sql id="Base_Column_List">
    RES_ID, RES_TITLE, RES_ICON, RES_DESC, RES_URL, DOWN_NUB, UPLOAD_TIME, TIMESTAMP
  </sql>

  <!-- 获取资源总条数 -->
  <select id="getCount" resultType="java.lang.Integer">
    SELECT COUNT(RES_ID)
    FROM XNOTE_RESOURCE
  </select>

  <!-- 获取下载资源列表 -->
  <select id="getResources" resultType="com.xnote.manage.modules.resource.bean.XResource">
    SELECT
    <include refid="Base_Column_List"/>
    FROM
    XNOTE_RESOURCE
    ORDER BY TIMESTAMP DESC
    LIMIT #{code}, #{size}
  </select>

  <!-- 根据ID获取资源记录 -->
  <select id="getResourceById" resultType="com.xnote.manage.modules.resource.bean.XResource">
    SELECT
    <include refid="Base_Column_List"/>
    FROM
    XNOTE_RESOURCE
    <where>
      RES_ID = #{id,jdbcType=VARCHAR}
    </where>
  </select>

  <!-- 添加资源 -->
  <insert id="addResource" parameterType="com.xnote.manage.modules.resource.bean.XResource">
    insert into xnote_resource (<include refid="Base_Column_List"/>)
    values (#{resId,jdbcType=VARCHAR}, #{resTitle,jdbcType=VARCHAR}, #{resIcon,jdbcType=VARCHAR},
        #{resDesc,jdbcType=VARCHAR}, #{resUrl,jdbcType=VARCHAR}, #{downNub,jdbcType=INTEGER},
        #{uploadTime,jdbcType=TIMESTAMP}, #{timestamp,jdbcType=BIGINT})
  </insert>

  <!-- 更新资源记录 -->
  <update id="updateResource" parameterType="com.xnote.manage.modules.resource.bean.XResource">
    UPDATE XNOTE_RESOURCE
    <set>
      <if test="resTitle != null">
        RES_TITLE = #{resTitle,jdbcType=VARCHAR},
      </if>
      <if test="resIcon != null">
        RES_ICON = #{resIcon,jdbcType=VARCHAR},
      </if>
      <if test="resDesc != null">
        RES_DESC = #{resDesc,jdbcType=VARCHAR},
      </if>
      <if test="resUrl != null">
        RES_URL = #{resUrl,jdbcType=VARCHAR},
      </if>
      <if test="downNub != null">
        DOWN_NUB = #{downNub,jdbcType=INTEGER},
      </if>
      <if test="uploadTime != null">
        UPLOAD_TIME = #{uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="timestamp != null">
        TIMESTAMP = #{timestamp,jdbcType=BIGINT},
      </if>
    </set>
    where RES_ID = #{resId,jdbcType=VARCHAR}
  </update>




















  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from xnote_resource
    where res_id = #{resId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from xnote_resource
    where res_id = #{resId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xnote.manage.modules.resource.bean.XResource">
    insert into xnote_resource (res_id, res_title, res_icon, 
      res_desc, down_nub, upload_time, 
      timestamp)
    values (#{resId,jdbcType=VARCHAR}, #{resTitle,jdbcType=VARCHAR}, #{resIcon,jdbcType=VARCHAR}, 
      #{resDesc,jdbcType=VARCHAR}, #{downNub,jdbcType=INTEGER}, #{uploadTime,jdbcType=TIMESTAMP}, 
      #{timestamp,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.xnote.manage.modules.resource.bean.XResource">
    insert into xnote_resource
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="resId != null">
        res_id,
      </if>
      <if test="resTitle != null">
        res_title,
      </if>
      <if test="resIcon != null">
        res_icon,
      </if>
      <if test="resDesc != null">
        res_desc,
      </if>
      <if test="downNub != null">
        down_nub,
      </if>
      <if test="uploadTime != null">
        upload_time,
      </if>
      <if test="timestamp != null">
        timestamp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="resId != null">
        #{resId,jdbcType=VARCHAR},
      </if>
      <if test="resTitle != null">
        #{resTitle,jdbcType=VARCHAR},
      </if>
      <if test="resIcon != null">
        #{resIcon,jdbcType=VARCHAR},
      </if>
      <if test="resDesc != null">
        #{resDesc,jdbcType=VARCHAR},
      </if>
      <if test="downNub != null">
        #{downNub,jdbcType=INTEGER},
      </if>
      <if test="uploadTime != null">
        #{uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="timestamp != null">
        #{timestamp,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.xnote.manage.modules.resource.bean.XResource">
    update xnote_resource
    <set>
      <if test="resTitle != null">
        res_title = #{resTitle,jdbcType=VARCHAR},
      </if>
      <if test="resIcon != null">
        res_icon = #{resIcon,jdbcType=VARCHAR},
      </if>
      <if test="resDesc != null">
        res_desc = #{resDesc,jdbcType=VARCHAR},
      </if>
      <if test="downNub != null">
        down_nub = #{downNub,jdbcType=INTEGER},
      </if>
      <if test="uploadTime != null">
        upload_time = #{uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="timestamp != null">
        timestamp = #{timestamp,jdbcType=BIGINT},
      </if>
    </set>
    where res_id = #{resId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xnote.manage.modules.resource.bean.XResource">
    update xnote_resource
    set res_title = #{resTitle,jdbcType=VARCHAR},
      res_icon = #{resIcon,jdbcType=VARCHAR},
      res_desc = #{resDesc,jdbcType=VARCHAR},
      down_nub = #{downNub,jdbcType=INTEGER},
      upload_time = #{uploadTime,jdbcType=TIMESTAMP},
      timestamp = #{timestamp,jdbcType=BIGINT}
    where res_id = #{resId,jdbcType=VARCHAR}
  </update>
</mapper>