<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<!-- 顶部菜单栏 -->
<div th:class="container" th:fragment="top_nav_bar">
    <div class="logo">
        <a href="index.html"
           th:href="@{/}+${session.sysConfig.get('manageUrl').getConfigValue()}"
           th:text="${session.sysConfig.get('manageName').getConfigValue()}">X-admin v2.2</a>
    </div>
    <div class="left_open">
        <a><i title="展开左侧栏" class="layui-icon">&#xe66b;</i></a>
    </div>
    <ul class="layui-nav left fast-add" lay-filter="">
        <li class="layui-nav-item">
            <a href="javascript:;"><i class="layui-icon"></i>+新增</a>
            <dl class="layui-nav-child">
                <!-- 二级菜单 -->
                <dd>
                    <a onclick="xadmin.open('最大化','http://www.baidu.com','','',true)">
                        <i class="iconfont">&#xe66a;</i>弹出最大化</a></dd>
                <dd>
                    <a onclick="xadmin.open('弹出自动宽高','http://www.baidu.com')">
                        <i class="iconfont">&#xe66a;</i>弹出自动宽高</a></dd>
                <dd>
                    <a onclick="xadmin.open('弹出指定宽高','http://www.baidu.com',500,300)">
                        <i class="iconfont">&#xe66a;</i>弹出指定宽高</a></dd>
                <dd>
                    <a onclick="xadmin.add_tab('在tab打开','member-list.html')">
                        <i class="iconfont">&#xe66a;</i>在tab打开</a></dd>
                <dd>
                    <a onclick="xadmin.add_tab('在tab打开刷新','member-del.html',true)">
                        <i class="iconfont">&#xe66a;</i>在tab打开刷新</a></dd>
            </dl>
        </li>
    </ul>
    <ul class="layui-nav left fast-add" lay-filter="">
        <li class="layui-nav-item">
            <a href="javascript:;">
                <i class="layui-icon">&#xe66a;</i>
                <span>切换配色</span>
            </a>
            <dl class="layui-nav-child">
                <!-- 二级菜单 -->
                <dd>
                    <a onclick="switchTheme('skyBlue')">
                        <i class="layui-icon">&#xe66a;</i>淡蓝1</a>
                </dd>
                <dd>
                    <a onclick="switchTheme('paleBlue')">
                        <i class="layui-icon">&#xe66a;</i>淡蓝2</a>
                </dd>
                <dd>
                    <a onclick="switchTheme('theme')">
                        <i class="layui-icon">&#xe66a;</i>学院蓝</a>
                </dd>
                <dd>
                    <a onclick="switchTheme('gradually')">
                        <i class="layui-icon">&#xe66a;</i>渐变色</a>
                </dd>
            </dl>
        </li>
    </ul>
    <ul class="layui-nav right" lay-filter="">
        <li class="layui-nav-item to-index">
            <a href="/">前台首页</a>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;">
                <input type="hidden" th:value="${session.loginAdmin.id}">
                <span th:text="${session.loginAdmin.name}"></span>
            </a>
            <dl class="layui-nav-child">
                <!-- 二级菜单 -->
                <dd>
                    <a onclick="xadmin.open('管理员信息','http://www.baidu.com')">管理员信息</a></dd>
                <dd>
                    <a onclick="xadmin.open('切换管理员','http://www.baidu.com')">切换管理员</a></dd>
                <dd>
                    <a onclick="signout()">退出系统</a></dd>
            </dl>
        </li>
    </ul>
</div>

<!-- 左侧菜单栏-->
<div th:class="left-nav" th:fragment="left_nav_bar">
    <div id="side-nav">
        <ul id="nav">
            <li th:if="${session.loginAdmin.funcs != null}" th:each="func : ${session.loginAdmin.funcs}">
                <a href="javascript:;">
                    <i class="layui-icon left-nav-li" lay-tips="会员管理" th:lay-tips="${func.funcName}" th:utext="${func.funcIcon}"></i>
                    <cite th:text="${func.funcName}"></cite>
                    <i class="layui-icon nav_right layui-icon-right"></i>
                </a>
                <ul class="sub-menu">
                    <li th:each="secFunc : ${func.functionList}">
                        <a th:attr="funcName=${secFunc.funcName},funcurl=${secFunc.funcUrl}"
                           th:onclick="xadmin.add_tab(this.getAttribute('funcName'),this.getAttribute('funcurl'))">
                            <i class="layui-icon" th:utext="${secFunc.funcIcon}"></i>
                            <cite th:text="${secFunc.funcName}"></cite>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<!-- copyright -->
<div class="layui-col-md12" th:fragment="copyright">
    <blockquote class="layui-elem-quote layui-quote-nm" th:text="${session.sysConfig.get('manageCopyright').getConfigValue()}"></blockquote>
</div>

</body>
</html>