<!doctype html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${session.sysConfig.get('manageTitle').getConfigValue()}">后台登录-X-admin2.2</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--csrf token-->
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="shortcut icon" href="favicon.ico" th:href="@{/static/favicon.ico}">
<!--    <link rel="stylesheet" href="../static/css/font/font.css" th:href="@{/css/font/font.css}">-->
    <link rel="stylesheet" href="../static/css/main/layui.css" th:href="@{/webjars/layui/2.5.5/css/layui.css}">
    <link rel="stylesheet" href="../static/css/main/xadmin.css" th:href="@{/static/css/main/xadmin.css}">
    <link id="theme" rel="stylesheet" href="../static/css/theme/collegeBlue.css" th:href="@{/static/css/theme}+${session.sysConfig.get('colorSchemes').getConfigValue()}">
    <script>
        // 是否开启刷新记忆tab功能
        // var is_remember = false;
    </script>
</head>
<body class="index">
    <!-- 顶部 -->
    <div th:replace="~{bar :: top_nav_bar}"></div>
    <!-- 左侧菜单 -->
    <div th:replace="~{bar :: left_nav_bar}"></div>
    <!-- 右侧主体 -->
    <div class="page-content">
        <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
            <ul class="layui-tab-title">
                <li class="home">
                    <i class="layui-icon">&#xe68e;</i>我的桌面
                </li>
            </ul>
            <div class="layui-unselect layui-form-select layui-form-selected" id="tab_right">
                <dl>
                    <dd data-type="this">关闭当前</dd>
                    <dd data-type="other">关闭其它</dd>
                    <dd data-type="all">关闭全部</dd>
                </dl>
            </div>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <iframe th:src="@{/main}" frameborder="0" scrolling="yes" class="x-iframe"></iframe>
                </div>
            </div>
            <div id="tab_show"></div>
        </div>
    </div>
    <div th:replace="~{bar :: themes-card}"></div>
    <div class="page-content-bg"></div>
    <style id="theme_style"></style>
</body>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <script type="text/javascript" src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>

    <script src="./lib/layui/layui.js" type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
    <script src="./lib/layui/layui.js" type="text/javascript" th:src="@{/webjars/layui/2.5.5/layui.js}"></script>
    <script type="text/javascript" src="../static/js/main/xadmin.js" th:src="@{/static/js/main/xadmin.js}"></script>
    <script>
        var PATH = '[[@{/}]]';
        function switchTheme(themeName)
        {
            var themeUrl = '[[@{/static/css/theme}]]'+ themeName;
            $("#theme").attr("href", themeUrl);
            $.post({
                url: '[[@{/}]]system/manage/changecolorscheme',
                data: {
                    'theme': themeName,
                    '_csrf': $("meta[name = '_csrf']").attr("content"),
                    '_csrf_header': $("meta[name = '_csrf_header']").attr("content"),
                    '_': new Date().getTime()
                },
                success: function (res) {
                    layer.msg(res.message);
                }
            })
        }

        function signout(){
            $.ajax({
                url: '[[@{/login/signout}]]',
                type: 'get',
                data:{
                    '_csrf': $("meta[name = '_csrf']").attr("content"),
                    '_csrf_header': $("meta[name = '_csrf_header']").attr("content"),
                    '_': new Date().getTime()
                },
                success: function(res){
                    if(res.code == 1)
                    {
                        layer.msg(res.message);
                        console.log(res.data.url);
                        console.log('[[@{/}]]'+ res.data.url);
                        window.location.replace('[[@{/}]]'+ res.data.url);
                    }
                    return false;
                },
                error: function(res){
                    layer.msg(res.message);
                    return false;
                }
            })
        }

        function cuttheme(){
            $('.themes-card').slideToggle("slow");
            $(this).removeClass('layui-this');
        }


        function relogin() {
            layer.open({
                type: 2,
                title: '切换管理员',
                area: ['620px', '360px'],
                offset: 'auto',
                fixed: false,
                maxmin: false,
                shadeClose: true,
                content: PATH + 'relogin'
            });
        }
    </script>
</html>