@charset "UTF-8";
.lic-title
{
    margin: 50px auto;
}

.lic-content
{
    font-size: 22px;
    margin-bottom: 50px;
}

.lic-icon,
.lic-icon > i
{
    font-size: 50px;
    color: #007DDB;
}

.lic-icon > i
{
    font-size: 75px;
}

