<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>dataInit</title>
    <!--csrf token-->
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" href="../static/css/main/layui.css" th:href="@{/webjars/layui/2.5.5/css/layui.css}">
    <link rel="stylesheet" href="../static/css/main/xadmin.css" th:href="@{/static/css/main/xadmin.css}">
    <link rel="stylesheet" href="../static/css/main/xadmin.css" th:href="@{/static/css/moudles/system/system.css}">
</head>
<body>
    <div class="x-nav">
        <span class="layui-breadcrumb">
            <a href="">页面功能管理</a>
            <a>
                <cite>系统前台配置</cite>
            </a>
        </span>
        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
            <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
        </a>
    </div>

    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">
                        <span>系统前台配置</span>
                    </div>
                    <div class="layui-card-body">
                        <form class="layui-form layui-form-pane" id="systemForegroundConfig" lay-filter="systemForegroundConfig">
                            <div class="layui-form-item layui-col-sm6">
                                <label class="layui-form-label">项目名称</label>
                                <div class="layui-input-block">
                                    <input type="text" class="layui-input" name="projectTitle" lay-filter="projectTitle" lay-verify="projectTitle" value="">
                                </div>
                            </div>
                            <div class="layui-form-item layui-col-sm6">
                                <label class="layui-form-label">logo标题</label>
                                <div class="layui-input-block">
                                    <input type="text" class="layui-input" name="logoText" lay-filter="" value="">
                                </div>
                            </div>
                            <div class="layui-form-item layui-col-sm6">
                                <label class="layui-form-label">版权声明</label>
                                <div class="layui-input-block">
                                    <input type="text" class="layui-input" name="clientCopyright" lay-filter="" value="">
                                </div>
                            </div>
                            <div class="layui-form-item layui-form-text layui-col-sm6">
                                <label class="layui-form-label">公告</label>
                                <div class="layui-input-block">
                                    <textarea name="clientNotice" class="layui-textarea"></textarea>
                                </div>
                            </div>
                            <div class="layui-form-item layui-col-sm6">
                                <div class="layui-col-sm3 layui-col-sm-offset8">
                                    <button class="layui-btn layui-btn-normal" lay-submit lay-filter="foregroundSub">
                                        <i class="layui-icon">&#xe605;</i>确&nbsp;定</button>
                                    <!--<button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe669;</i>还&nbsp;原</button>-->
                                </div>
                            </div>
                            <div class="layui-form-item"></div>
                        </form>
                    </div>
                </div>
                <!--
                <div class="layui-card">
                    <div class="layui-card-header">
                        <span>系统前台logo上传</span>
                    </div>
                    <div class="layui-card-body">
                        <form class="layui-form" id="systemLogoUpload" lay-filter="systemLogoUpload">
                            <div class="layui-form-item layui-col-sm6">
                                <div class="layui-upload-drag layui-col-sm-offset2" id="uploadform">
                                    <i class="layui-icon"></i>
                                    <p>点击上传，或将文件拖拽到此处</p>
                                    <div class="layui-hide" id="uploadDemoView">
                                        <hr>
                                        <img src="" alt="上传成功后渲染" style="max-width: 196px">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item"></div>
                        </form>
                    </div>
                </div>
                -->

                <div class="layui-card">
                    <div class="layui-card-header">
                        <span>系统前台功能模块开关</span>
                    </div>
                    <div class="layui-card-body">
                        <form class="layui-form" id="systemFrontModuleSwitch" lay-filter="systemFrontModuleSwitch">
                            <div class="layui-form-item layui-col-sm6">
                                <label class="layui-form-label">项目版本</label>
                                <div class="layui-input-block">
                                    <input type="radio" name="version" value="user" title="单人版">
                                    <input type="radio" name="version" value="users" title="多用户版">
                                </div>
                                <div class="layui-form-mid layui-word-aux">项目选择单人版时，登录、注册、评论、留言、新增笔记 功能无法使用，将自动关闭</div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-col-sm3">
                                    <label class="layui-form-label">
                                        <i class="layui-badge-dot layui-bg-orange"></i>登录模块
                                    </label>
                                    <div class="layui-input-block">
                                        <input type="radio" name="login" value="on" title="开启">
                                        <input type="radio" name="login" value="off" title="关闭">
                                    </div>
                                </div>
                                <div class="layui-col-sm2">
                                    <label class="layui-form-label">
                                        <i class="layui-badge-dot layui-bg-orange"></i>注册模块
                                    </label>
                                    <div class="layui-input-block">
                                        <input type="radio" name="regist" value="on" title="开启">
                                        <input type="radio" name="regist" value="off" title="关闭">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-col-sm3">
                                    <label class="layui-form-label">
                                        <i class="layui-badge-dot layui-bg-orange"></i>新增笔记
                                    </label>
                                    <div class="layui-input-block">
                                        <input type="radio" name="add" value="on" title="开启">
                                        <input type="radio" name="add" value="off" title="关闭">
                                    </div>
                                </div>
                                <div class="layui-col-sm2">
                                    <label class="layui-form-label">
                                        <i class="layui-badge-dot layui-bg-orange"></i>评论模块
                                    </label>
                                    <div class="layui-input-block">
                                        <input type="radio" name="comment" value="on" title="开启">
                                        <input type="radio" name="comment" value="off" title="关闭">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-col-sm3">
                                    <label class="layui-form-label">
                                        <i class="layui-badge-dot layui-bg-orange"></i>点赞模块
                                    </label>
                                    <div class="layui-input-block">
                                        <input type="radio" name="star" value="on" title="开启">
                                        <input type="radio" name="star" value="off" title="关闭">
                                    </div>
                                </div>
                                <div class="layui-col-sm2">
                                    <label class="layui-form-label">
                                        <i class="layui-badge-dot layui-bg-orange"></i>留言模块
                                    </label>
                                    <div class="layui-input-block">
                                        <input type="radio" name="message" value="on" title="开启">
                                        <input type="radio" name="message" value="off" title="关闭">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-col-sm3">
                                    <label class="layui-form-label">
                                        <i class="layui-badge-dot layui-bg-orange"></i>检索模块
                                    </label>
                                    <div class="layui-input-block">
                                        <input type="radio" name="search" value="on" title="开启">
                                        <input type="radio" name="search" value="off" title="关闭">
                                    </div>
                                </div>
                                <div class="layui-col-sm2">
                                    <label class="layui-form-label">教程模块</label>
                                    <div class="layui-input-block">
                                        <input type="radio" name="course" value="on" title="开启">
                                        <input type="radio" name="course" value="off" title="关闭">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-col-sm3">
                                    <label class="layui-form-label">资源下载</label>
                                    <div class="layui-input-block">
                                        <input type="radio" name="resourceDown" value="on" title="开启">
                                        <input type="radio" name="resourceDown" value="off" title="关闭">
                                    </div>
                                </div>
                                <div class="layui-col-sm2">
                                    <label class="layui-form-label">关于用户</label>
                                    <div class="layui-input-block">
                                        <input type="radio" name="about" value="on" title="开启">
                                        <input type="radio" name="about" value="off" title="关闭">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-col-sm1 layui-col-sm-offset3">
                                    <div class="layui-input-block">
                                        <button class="layui-btn layui-btn-normal" lay-submit lay-filter="frontModuleSwitch">
                                            <i class="layui-icon">&#xe605;</i>确&nbsp;定
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="layui-card-body" style="text-align: center; height: 30px; width: 100%;">
                        <span th:text="${session.sysConfig.get('manageCopyright').getConfigValue()}">ssss</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
<script type="text/javascript" src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>

<script src="./lib/layui/layui.js" type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
<script src="./lib/layui/layui.js" type="text/javascript" th:src="@{/webjars/layui/2.5.5/layui.js}"></script>
<script type="text/javascript" src="../static/js/main/xadmin.js" th:src="@{/static/js/main/xadmin.js}"></script>
<script type="text/javascript" src="/" th:src="@{/static/js/modules/system/system.js}"></script>
<script>
    var PATH = '[[@{/}]]';
$(function(){
    layui.use(['form','upload'], function(){
        var form = layui.form,
            upload = layui.upload;

        loadForegroundConfig (form, PATH);
        systemForegroundConfig (form, PATH);
        //拖拽上传
        upload.render({
            elem: '#uploadform',
            url: PATH + 'system/client/uploadLogo',
            data: {
                '_csrf': $("meta[name = '_csrf']").attr("content"),
                '_csrf_header': $("meta[name = '_csrf_header']").attr("content"),
                '_': new Date().getTime()
            },
            done: function(res){
                if(res.code == 0)
                {
                    layer.msg(res.message);
                }
                layui.$('#uploadDemoView').removeClass('layui-hide').find('img').attr('src', res.files.file);
                console.log(res)
            }
        });
    });
});
</script>
</html>