<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xnote.manage.modules.admin.mapper.AdminRoleFunctionRelationMapper">
  <resultMap id="BaseResultMap" type="com.xnote.manage.modules.admin.bean.AdminRoleFunctionRelation">
    <id column="rela_id" jdbcType="VARCHAR" property="id" />
    <result column="role_id" jdbcType="VARCHAR" property="roleId" />
    <result column="func_id" jdbcType="VARCHAR" property="funcId" />
  </resultMap>
  <sql id="Base_Column_List">
    rela_id, role_id, func_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from xnote_admin_role_function_relation
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from xnote_admin_role_function_relation
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xnote.manage.modules.admin.bean.AdminRoleFunctionRelation">
    insert into xnote_admin_role_function_relation (id, role_id, func_id
      )
    values (#{id,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR}, #{funcId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xnote.manage.modules.admin.bean.AdminRoleFunctionRelation">
    insert into xnote_admin_role_function_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="funcId != null">
        func_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="funcId != null">
        #{funcId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xnote.manage.modules.admin.bean.AdminRoleFunctionRelation">
    update xnote_admin_role_function_relation
    <set>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="funcId != null">
        func_id = #{funcId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xnote.manage.modules.admin.bean.AdminRoleFunctionRelation">
    update xnote_admin_role_function_relation
    set role_id = #{roleId,jdbcType=VARCHAR},
      func_id = #{funcId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>