<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xnote.manage.modules.admin.mapper.AdminMapper">
  <resultMap id="BaseResultMap" type="com.xnote.manage.modules.admin.bean.Admin">
    <id column="admin_id" jdbcType="VARCHAR" property="id"/>
    <result column="login_name" jdbcType="VARCHAR" property="loginName" />
    <result column="admin_name" jdbcType="VARCHAR" property="adminName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="role" jdbcType="VARCHAR" property="role" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="admin_email" jdbcType="VARCHAR" property="adminEmail" />
    <result column="login_ip" jdbcType="VARCHAR" property="loginIp" />
    <result column="login_time" jdbcType="DATE" property="loginTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="creator_id" jdbcType="VARCHAR" property="creatorId" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
    <result column="update_time" jdbcType="DATE" property="updateTime" />
    <result column="timestamp" jdbcType="DATE" property="timestamp" />
  </resultMap>
  <sql id="Base_Column_List">
    ADMIN_ID, LOGIN_NAME, ADMIN_NAME, PASSWORD, STATUS, SORT, ROLE, ROLE_NAME, ADMIN_EMAIL, LOGIN_IP, LOGIN_TIME, REMARK,
    CREATOR_ID, CREATOR, CREATE_TIME, UPDATE_TIME, TIMESTAMP
  </sql>

  <!-- 获取所有管理员账号信息 -->
  <select id="getAdminList" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM XNOTE_ADMIN
    ORDER BY SORT
  </select>

  <!-- 根据管理员id获取管理员账号信息 -->
  <select id="getAdminById" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM XNOTE_ADMIN
    <where>
      ADMIN_ID = #{id,jdbcType=VARCHAR}
    </where>
  </select>

  <!-- 根据登录名获取管理员 -->
  <select id="getAdminByLoginName" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM XNOTE_ADMIN
    <where>
      LOGIN_NAME = #{loginName,jdbcType=VARCHAR}
    </where>
  </select>

  <!-- 根据登录名或id判断用户是否存在 -->
  <select id="isExsit" resultType="java.lang.String">
    SELECT ADMIN_ID
    FROM XNOTE_ADMIN
    WHERE
    ADMIN_ID = #{id,jdbcType=VARCHAR}
    OR
    LOGIN_NAME = #{loginName,jdbcType=VARCHAR};
  </select>

  <!-- 注册管理员 -->
  <insert id="insertAdmin" parameterType="com.xnote.manage.modules.admin.bean.Admin">
    INSERT INTO XNOTE_ADMIN (
    <include refid="Base_Column_List"/>
    )
    VALUES (#{id,jdbcType=VARCHAR}, #{loginName,jdbcType=VARCHAR}, #{adminName,jdbcType=VARCHAR},
      #{password,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{sort,jdbcType=INTEGER},
      #{role,jdbcType=VARCHAR}, #{roleName,jdbcType=VARCHAR}, #{adminEmail,jdbcType=VARCHAR},
      #{loginIp,jdbcType=VARCHAR},#{loginTime,jdbcType=DATE}, #{remark,jdbcType=VARCHAR},
      #{creatorId,jdbcType=VARCHAR},#{creator,jdbcType=DATE},
      #{createTime,jdbcType=DATE}, #{updateTime,jdbcType=DATE}, #{timestamp,jdbcType=DATE})
  </insert>

  <!-- 更新登录者信息 -->
  <update id="updateLogin">
    UPDATE XNOTE_ADMIN SET
    LOGIN_IP = #{loginIp,jdbcType=VARCHAR},
    LOGIN_TIME = #{loginTime,jdbcType=VARCHAR}
    <where>
      ADMIN_ID = #{id,jdbcType=VARCHAR}
    </where>
  </update>

  <update id="changeAdminStatus" parameterType="com.xnote.manage.modules.admin.bean.Admin">
    UPDATE XNOTE_ADMIN
    SET
    STATUS = #{status,jdbcType=INTEGER},
    UPDATE_TIME = #{updateTime,jdbcType=DATE},
    TIMESTAMP = #{timestamp,jdbcType=VARCHAR}
    <where>
      ADMIN_ID = #{id,jdbcType=VARCHAR}
    </where>
  </update>

  <update id="updateAdmin">
    UPDATE XNOTE_ADMIN
    SET LOGIN_NAME = #{loginName,jdbcType=VARCHAR},
      ADMIN_NAME = #{adminName,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=INTEGER},
      ROLE = #{role,jdbcType=VARCHAR},
      ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      ADMIN_EMAIL = #{adminEmail,jdbcType=VARCHAR},
      LOGIN_IP = #{loginIp,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=DATE},
      SORT = #{sort,jdbcType=INTEGER},
      REMARK = #{remark,jdbcType=VARCHAR}
    <where>
      ADMIN_ID = #{id,jdbcType=VARCHAR}
    </where>
  </update>

  <delete id="deleteAdmin" parameterType="java.lang.String">
    DELETE FROM XNOTE_ADMIN
    <where>
      ADMIN_ID = #{id,jdbcType=VARCHAR}
    </where>
  </delete>









  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from xnote_admin
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from xnote_admin
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insertSelective" parameterType="com.xnote.manage.modules.admin.bean.Admin">
    insert into xnote_admin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="loginName != null">
        login_name,
      </if>
      <if test="adminName != null">
        admin_name,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="role != null">
        role,
      </if>
      <if test="roleName != null">
        role_name,
      </if>
      <if test="adminEmail != null">
        admin_email,
      </if>
      <if test="loginIp != null">
        login_ip,
      </if>
      <if test="loginTime != null">
        login_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null">
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="adminName != null">
        #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="role != null">
        #{role,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="adminEmail != null">
        #{adminEmail,jdbcType=VARCHAR},
      </if>
      <if test="loginIp != null">
        #{loginIp,jdbcType=VARCHAR},
      </if>
      <if test="loginTime != null">
        #{loginTime,jdbcType=DATE},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=DATE},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xnote.manage.modules.admin.bean.Admin">
    update XNOTE_ADMIN
    <set>
      <if test="loginName != null">
        LOGIN_NAME = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="adminName != null">
        ADMIN_NAME = #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="role != null">
        ROLE = #{role,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null">
        ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="adminEmail != null">
        ADMIN_EMAIL = #{adminEmail,jdbcType=VARCHAR},
      </if>
      <if test="loginIp != null">
        LOGIN_IP = #{loginIp,jdbcType=VARCHAR},
      </if>
      <if test="loginTime != null">
        LOGIN_TIME = #{loginTime,jdbcType=DATE},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=DATE},
      </if>
      <if test="sort != null">
        SORT = #{sort,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where ADMIN_ID = #{id,jdbcType=VARCHAR}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.xnote.manage.modules.admin.bean.Admin">
    update XNOTE_ADMIN
    set LOGIN_NAME = #{loginName,jdbcType=VARCHAR},
      ADMIN_NAME = #{adminName,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=INTEGER},
      ROLE = #{role,jdbcType=VARCHAR},
      ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      ADMIN_EMAIL = #{adminEmail,jdbcType=VARCHAR},
      LOGIN_IP = #{loginIp,jdbcType=VARCHAR},
      LOGIN_TIME = #{loginTime,jdbcType=DATE},
      CREATE_TIME = #{createTime,jdbcType=DATE},
      UPDATE_TIME = #{updateTime,jdbcType=DATE},
      SORT = #{sort,jdbcType=INTEGER},
      REMARK = #{remark,jdbcType=VARCHAR}
    where ADMIN_ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>