html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.layui-form{
    margin: 30px;
}

.layui-form-pane .layui-form-label{
    height: 50px;
    line-height: 32px;
}

.layui-input{
    height: 50px;
}

.refrash {
    display: inline-block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.refrash i{
    display: inline-block;
}